<!DOCTYPE html>
<html>
    <head>
        <title>Youtube Search and Analytics</title>
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
        <link type="text/css" href="./../public/css/indexStyle.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1 id="heading">Youtube Search and Analytics</h1>
                <h3 id="caption">Powered by Youtube API</h3>
            </div>
            <div id="form">
                <button class="btn searchVideos" type="button">Search Videos</button>
                <button class="btn trendingVideos" type="button">Trending Videos</button>
                <button class="btn viewAnalytics" type="button">View Analytics</button>
            </div>
            <div id="footer">
                <div id="footNav">
                    <a href="#">About Me</a>
                    <a href="https://github.com/evilbuggy/youtube">Github Repository</a>
                </div>
                <div id="copyrights">
                    &copy; Created by evilbuggy
                </div>
            </div>
            <script src="./../public/scripts/indexScript.js"></script>
        </div>
    </body>
</html>
