* {
    margin: 0;
    padding: 0;
}


html{
    height: 100%;
}

body{
    background-color: #222222;
    height: 100%;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

#header {
    margin: auto;
}

#nav{
    display: flex;
    justify-content: flex-end;
}

.btn{
    font-size: 17px;
    padding: 5px 18px;
    margin: 8px;
    border-radius: 25px;
    border: none;
    background: #F6F6F6;
    font-family: 'Fjalla One', sans-serif;
    outline: none;
}

.btn:hover{
    cursor: pointer;
}

#heading {
    margin-top: 200px;
    text-align: center;
    font-size: 95px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 40px;
}

.hide{
    display: none;
}

.searchBar::-webkit-input-placeholder {
    color: rgba(0,0,0,0.2);
}
.searchBar::-moz-placeholder {
    color: rgba(0,0,0,0.2);
}
.searchBar:-ms-input-placeholder {
    color: rgba(0,0,0,0.2);
}
.searchBar:-moz-placeholder {
    color: rgba(0,0,0,0.2);
}

#footer{
    height: 50px;
    position:absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
}

#footNav, #copyrights{
    height: 100%;
}

#footer a{
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 50px;
    transition: 0.3s
}

#copyrights{
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    margin-right: 20px;
}

#copyrights a{
    margin: 0px;
    font-size: 23px;
}

#videosContainer{
    min-height:100px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.fa-chevron-circle-left, .fa-chevron-circle-right{
    position: fixed;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 50px;
    transition: 0.2s;
}

.fa-chevron-circle-left{
    left: 1%;
}

.fa-chevron-circle-right{
    right: 1%;
}

#prevPage, #nextPage{
    border: none;
    background: transparent;
    outline: none;
}

.fa-search{
    line-height: 50px;
}
