#channelList {
    list-style-type: none;
    width: 700px;
}

.channelItem{
    margin: 10px;
    height:88px;
    border: 2px solid #f6f6f6;
    border-radius:5px;
    border-top-left-radius: 125px;
    border-bottom-left-radius: 125px;
    padding: 5px;
}

.channelItemContainer{
    display: flex;
}

.imgContainer{
    height:88px;
    width:88px;
    border-radius: 44px;
    overflow: hidden;
    cursor : pointer;
    border : 1px solid black;
}

.titleContainer{
    height: 88px;
    display:flex;
    align-items: center;
    margin-left: 15px;
    justify-content: flex-start;
}

.channelTitle {
    color:white;
    font-size: 25px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    cursor : pointer;
}
